---
import BaseLayout from '../layouts/BaseLayout.astro'
import ExampleRoom from '../components/ExampleRoom.astro'
import UserHeader from '../components/UserHeader.astro'
import UserPanel from '../components/UserPanel.astro'
import '../components/live-form'
import '../components/live-avatars'
import '../components/live-cursors'
---
<BaseLayout>
  <ExampleRoom>



    <div>

      <UserHeader>
        <div slot="logo" class="font-semibold text-gray-700">
          Astro Collaborative Starter
        </div>
      </UserHeader>
    </div>

    <div class="flex h-full">
      <aside class="flex-grow-0 flex-shrink-0 bg-gray-50 w-72 pt-3">
        <UserPanel />
      </aside>
      <main class="">
        <live-form
          name="mainform"
          client:load
        >
          <input name="firstname" type="text" value="yo" />
          <input name="lastname" type="text" value="hallo" />
          <input name="checky" type="checkbox" />
          <input name="col" type="color" />
        </live-form>
      </main>
    </div>


    <live-cursors
      movement="smooth"
      client:load
    ></live-cursors>
  </ExampleRoom>
</BaseLayout>
