---
import { LiveblocksRoom, RandomUserInfo } from '/lib'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Title from '../components/Title.astro'
import TitleSmall from '../components/TitleSmall.astro'
import Paragraph from '../components/Paragraph.astro'
import ComponentMain from '../components/ComponentMain.astro'
import ComponentGrid from '../components/ComponentGrid.astro'
import Link from '../components/Link.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-index'
---
<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>

      <Title text="Astro collaborative starter">
        A set of collaborative elements for Astro, powered by <Link href="https://liveblocks.io" newTab>Liveblocks</Link>
      </Title>

      <TitleSmall>
        Welcome!
      </TitleSmall>

      <Paragraph>
        Looking to add collaboration to Astro? You've come to the right spot, Astroneer 🚀
        This starter kit contains a set of quick and easy elements for adding multiplayer presence to your app.
        But is it really that easy?
      </Paragraph>

      <Code lang="astro" code={`---
import LiveblocksRoom from '../lib/LiveblocksRoom.astro'
import LiveCursors from '../lib/LiveCursors.astro'

const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY
---
<LiveblocksRoom room-id="my-room" public-key={key}>
  <LiveCursors />
</LiveblocksRoom>
`}/>

      <Paragraph>
        Bam! A few lines of code, and you already have multiplayer cursors. It's really that simple.
        To learn more, take a look at the <Link href="/quick-start">quick start guide,</Link> or
        have a play with the demos below.
      </Paragraph>



      <TitleSmall>
        Quick start
      </TitleSmall>

      <a href="/quick-start" class="max-w-screen-md mt-5 block bg-gray-50 transition-all ring-0 ring-rose-400 hover:ring-2 rounded-xl relative aspect-[2/1]">
        <img class="w-full pt-8" src="/header.svg" alt="" />
        <div class="absolute bottom-3 left-4 font-semibold text-lg">Quick start guide</div>
        <div class="absolute top-3 right-4 opacity-50 font-mono">{'Introduction'}</div>
      </a>

      <TitleSmall>
        Components
      </TitleSmall>

      <ComponentGrid />




    </PanelLayout>
  </LiveblocksRoom>

</BaseLayout>
