---
import LiveblocksRoom from '/lib/LiveblocksRoom.astro'
import LiveVideo from '/lib/LiveVideo.astro'
import LiveYoutube from '/lib/LiveYoutube.astro'
import RandomUserInfo from '/lib/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import TitleSmall from '../components/TitleSmall.astro'
import WrapAllNote from '../components/WrapAllNote.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-youtube'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Live YouTube player">
        Watch YouTube together with &lt;LiveYoutube&gt;
      </Title>

      <Demo>
        <LiveVideo />
        end
        <LiveYoutube name="youtube-demo" video-id="QQ_3S-IQm38" controls />
      </Demo>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Add &lt;LiveYoutube&gt;, giving it a unique name="" attribute, and passing a YouTube video id to video-id="".
        When the video is paused/played or the time is changed, the action is synced across browsers.
        Adding the hideControls="" attribute will hide the controls.
      </Paragraph>

      <Paragraph>
        Example of video-id="" value in bold:
      </Paragraph>

      <pre class="p-5 bg-gray-50">https://www.youtube.com/watch?v=<strong>dQw4w9WgXcQ</strong></pre>

      <Paragraph>
        Usage:
      </Paragraph>

      <Code lang="astro" code={`
---
import LiveYoutube from 'astro-collab/LiveYoutube.astro'
---
<!-- Basic -->
<LiveYoutube
  name="my-video"
  video-id="dQw4w9WgXcQ"
/>

<!-- Hide video controls -->
<LiveYoutube
  name="my-video"
  video-id="dQw4w9WgXcQ"
  hideControls
/>
      `}/>

      or

      <Code lang="astro" code={`
---
import 'astro-collab/live-youtube'
---
<!-- Basic -->
<live-youtube
  name="my-video"
  video-id="dQw4w9WgXcQ"
  client:load
/>

<!-- Hide video controls -->
<live-youtube
  name="my-video"
  video-id="dQw4w9WgXcQ"
  hideControls
  client:load
/>
      `}/>

      <WrapAllNote></WrapAllNote>

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>

