---
import { LiveblocksRoom, RandomUserInfo } from '/lib'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Link from '../components/Link.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import TitleSmall from '../components/TitleSmall.astro'
import GetPublicKey from '../components/GetPublicKey.astro'
import ComponentGrid from '../components/ComponentGrid.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-liveblocks-room'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Liveblocks Room">
        Enable multiplayer with &lt;LiveblocksRoom&gt;, powered by
        <Link href="https://liveblocks.io" newTab>Liveblocks</Link>
      </Title>

      <TitleSmall>
        Quick start
      </TitleSmall>

      <Paragraph>
        It's advised you read the <Link href="/quick-start">quick start</Link> page if you haven't already.
      </Paragraph>


      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        The room-id="" and public-key="" attributes are required. These correspond to the name of the room
        currently being shared by users, and your Liveblocks public key. User properties can also be set
        using attributes. Wrap all your multiplayer components inside &lt;LiveblocksRoom>. One &lt;LiveblocksRoom> per page.
      </Paragraph>

<Code lang="astro" code={`---
import LiveblocksRoom from '../lib/LiveblocksRoom.astro'
---
<!-- Default user settings -->
<LiveblocksRoom
  room-id="my-room"
  public-key="pk_live_xxxxxxxxxxxxxxxxxxxxxxxxx"
>
  <!-- Multiplayer components inside -->
</LiveblocksRoom>

<!-- Setting user properties by attribute -->
<LiveblocksRoom
  room-id="my-room"
  public-key="pk_live_xxxxxxxxxxxxxxxxxxxxxxxxx"
  user-name="Chris"
  user-color="#00ff00"
  user-picture="/url-of-img.png"
  user-status="In a call"
>
  <!-- Multiplayer components inside -->
</LiveblocksRoom>`} />

      <TitleSmall>
        Setting user properties
      </TitleSmall>

      <Paragraph>
        To set the current user's properties (name, color etc.), use the window.LiveblocksRoom.setUser method.
        These properties will be used within multiplayer components.
      </Paragraph>

<Code lang="astro" code={`<script>
  // All user properties changed
  window.LiveblocksRoom.setUser({
    name: 'Chris',
    color: 'red',
    status: 'Available',
    picture: '/avatars/4.png'
  })

  // Only 'name' will change. Other properties stay the same.
  window.LiveblocksRoom.setUser({
    name: 'Rachel'
  })

  // Remove 'picture'. Other properties stay the same.
  window.LiveblocksRoom.setUser({
    picture: null
  })
</script>`} />

  <Paragraph>
    Properties can also be set using <Link href="/live-user-form">LiveUserForm</Link>
  </Paragraph>

      <TitleSmall>
        Set room
      </TitleSmall>

      <Paragraph>
        You can change the current room using window.LiveblocksRoom.setRoom. This function accepts a string.
      </Paragraph>

<Code lang="astro" code={`<script>
  window.LiveblocksRoom.setRoom('my-new-room-name')
</script>`} />

      <TitleSmall>
        Components
      </TitleSmall>
      <ComponentGrid />

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
