---
import LiveAvatars from '../lib/LiveAvatars.astro'
import LiveblocksRoom from '../lib/LiveblocksRoom.astro'
import RandomUserInfo from '../lib/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import TitleSmall from '../components/TitleSmall.astro'
import Paragraph from '../components/Paragraph.astro'
import WrapAllNote from '../components/WrapAllNote.astro'
import InputText from '../components/InputText.astro'
import InputNumber from '../components/InputNumber.astro'
import InputDropdown from '../components/InputDropdown.astro'
import { randomName, randomColor, randomPicture, randomStatus } from '../lib/utils/random'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-avatars'

// The current user's info
const user = {
  name: randomName(),
  color: randomColor(),
  picture: randomPicture(),
  status: randomStatus()
}
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >

    <PanelLayout>
      <Title text="Live avatar stack">
        See users currently online with &lt;live-avatars&gt;
      </Title>

      <LiveAvatars></LiveAvatars>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Add &lt;LiveAvatars&gt;. Change size="" and show="" attributes for more options.
      </Paragraph>

      <Code lang="astro" code={`---
import LiveAvatars from '../lib/LiveAvatars.astro'
---
<!-- Basic -->
<LiveAvatars></LiveAvatars>

<!-- Change avatar size -->
<LiveAvatars size="32"></LiveAvatars>

<!-- Only show your avatar -->
<LiveAvatars show="self"></LiveAvatars>

<!-- Only show other people's avatars -->
<LiveAvatars show="others"></LiveAvatars>
`} />

      or

      <Code lang="astro" code={`---
import '../lib/live-avatars'
---
<!-- Basic -->
<live-avatars client:load></live-avatars>

<!-- Change avatar size -->
<live-avatars size="32" client:load></live-avatars>

<!-- Only show your avatar -->
<live-avatars show="self" client:load></live-avatars>

<!-- Only show other people's avatars -->
<live-avatars show="others" client:load></live-avatars>
`} />

       <TitleSmall>
          Customise
        </TitleSmall>

        <Paragraph>
          Customise with CSS parts
        </Paragraph>

      <Code lang="css" code={`live-avatars::part(avatar) {
  padding: 12px;
}

live-avatars::part(avatar_picture_wrapper) {
  border: 2px solid black;
}
`} />

        <Paragraph>
          All CSS parts:
        </Paragraph>

        <Code code={`user,
avatars,
avatar,
avatar_picture_wrapper,
avatar_picture,
avatar_fallback`} />

      <WrapAllNote></WrapAllNote>


    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
