---
import LiveblocksRoom from 'astro-collab/LiveblocksRoom.astro'
import RandomUserInfo from 'astro-collab/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Link from '../components/Link.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import TitleSmall from '../components/TitleSmall.astro'
import WrapAllNote from '../components/WrapAllNote.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-cursors'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Live cursors">
        Enable multiplayer cursors with &lt;LiveCursors&gt;
      </Title>

      <!-- LiveCursors added within PanelLayout element -->
      <Demo />

      <div class="bg-gray-50 h-40 max-w-screen-sm flex justify-center items-center">
        Open this page in two windows to see live cursors
      </div>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Show each users' cursor on screen. Options for showing names, movement algorithm and element used for events.
      </Paragraph>

<Code lang="astro" code={`
---
import LiveCursors from 'astro-collab/LiveCursors.astro'
---
<!-- Just cursors shown -->
<LiveCursors />

<!-- Show names next to cursors -->
<LiveCursors names />

<!-- A quicker, but less smooth, animation -->
<LiveCursors movement="quick" />

<!-- A realistic, but delayed, animation -->
<LiveCursors movement="perfect" />

<!-- CSS selector of pointer event element, default: html -->
<LiveCursors selector="body" />
      `} />

      or

      <Code lang="astro" code={`
---
import 'astro-collab/live-cursors'
---
<!-- Just cursors shown -->
<live-cursor client:load />

<!-- Show names next to cursors -->
<live-cursor names client:load />

<!-- Use quicker, less smooth, animation -->
<live-cursor movement="quick" client:load />

<!-- CSS selector of pointer event element, default: body -->
<live-cursor selector="#app" client:load />
      `} />

      <Paragraph>
        A minimal working example can be found <Link href="/minimal/live-cursors">here.</Paragraph>
      </Paragraph>

      <TitleSmall>
        Customise
      </TitleSmall>

      <Paragraph>
        Customise with CSS parts:
      </Paragraph>

      <Code lang="astro" code={`
<style is:global>
  live-cursor::part(cursor) {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  }

  live-cursor::part(cursor_name) {
    font-weight: 500;
  }
</style>
      `} />

      <Paragraph>
        All CSS parts:
      </Paragraph>

      <Code code={`
cursors,
cursor,
cursor_svg,
cursor_name
        `} />

      <WrapAllNote></WrapAllNote>

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
