---
import LiveblocksRoom from '../lib/LiveblocksRoom.astro'
import LiveUserForm from '../lib/LiveUserForm.astro'
import RandomUserInfo from '../lib/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Link from '../components/Link.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import TitleSmall from '../components/TitleSmall.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import ComponentGrid from '../components/ComponentGrid.astro'
import { randomName, randomColor, randomPicture, randomStatus } from '../lib/utils/random'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-cursors'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Liveblocks Room">
        Enable multiplayer with &lt;LiveblocksRoom&gt;, powered by powered by
        <Link href="https://liveblocks.io" newTab>Liveblocks</Link>
      </Title>

      <!-- LiveCursors added within PanelLayout element -->
      <Demo />

      <TitleSmall>
        Add LiveblocksRoom
      </TitleSmall>

      <Paragraph>
        You can use &lt;LiveblocksRoom&gt; to create a multiplayer room
      </Paragraph>

      <Code lang="astro" code={`---
        const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the multiplayer room
const roomId = 'my-room'
---
<LiveblocksRoom
  roomId={roomId}
  public-key={key}
>
  <!-- Place all multiplayer components inside -->
</LiveblocksRoom>
`}/>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Set the current user's properties (name, color etc.) using child input elements.
        Updates are propagated on 'input' events. Not just compatible with text inputs.
      </Paragraph>

<Code lang="astro" code={`---
import LiveCursors from '../lib/LiveCursors.astro'
---
<!-- No config needed, works already -->
<LiveCursors />

<!-- A quicker, but less smooth, animation -->
<LiveCursors movement="quick" />

<!-- CSS selector of pointer event element, default: html -->
<LiveCursors selector="body" />`} />
or
<Code lang="astro" code={`---
  import '../lib/live-cursors'
---
<!-- No config needed, works already -->
<live-cursor client:load />

<!-- Use quicker, less smooth, animation -->
<live-cursor movement="quick" client:load />

<!-- CSS selector of pointer event element, default: body -->
<live-cursor selector="#app" client:load />`} />

      <TitleSmall>
        Add multiplayer components
      </TitleSmall>
      <ComponentGrid />

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
