---
import LiveblocksRoom from 'astro-collab/LiveblocksRoom.astro'
import LiveDrawing from 'astro-collab/LiveDrawing.astro'
import RandomUserInfo from 'astro-collab/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Link from '../components/Link.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import TitleSmall from '../components/TitleSmall.astro'
import WrapAllNote from '../components/WrapAllNote.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-drawing'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Live drawing">
        Draw together with &lt;LiveDrawing&gt;, powered by <Link href="https://tldraw.com" newTab>tldraw</Link>
      </Title>

      <Demo>
        <div class="relative max-w-screen-md w-full aspect-square">
          {import.meta.env.DEV ? (
            <div class="absolute inset-0 bg-gray-50 flex justify-center items-center">
              <Paragraph>Note: &lt;LiveDrawing&gt; is currently not working in development mode, but works when pushed to production.</Paragraph>
            </div>
          ): <LiveDrawing />}
        </div>
      </Demo>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Add &lt;LiveDrawing&gt;. Element attributes correspond to <Link href="https://github.com/tldraw/tldraw/blob/main/guides/documentation.md" newTab>tldraw props.</Link>
      </Paragraph>

      <Code lang="astro" code={`
---
import LiveDrawing from 'astro-collab/LiveDrawing.astro'
---
<!-- Basic -->
<LiveDrawing />

<!-- Pass any tldraw properties -->
<LiveDrawing showMenu={false} />
      `}/>

      <Paragraph>
        A minimal working example can be found <Link href="/minimal/live-drawing">here.</Paragraph>
      </Paragraph>

      <WrapAllNote></WrapAllNote>

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
