---
import LiveblocksRoom from '/lib/LiveblocksRoom.astro'
import LiveDrawing from '/lib/LiveDrawing.astro'
import RandomUserInfo from '/lib/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import TitleSmall from '../components/TitleSmall.astro'
import WrapAllNote from '../components/WrapAllNote.astro'
import InputNumber from '../components/InputNumber.astro'
import InputDropdown from '../components/InputDropdown.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-drawing'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="LiveDrawing">
        Any inputs, textareas, selects, with a name="" attribute inside &lt;LiveForm&gt; will be shared
      </Title>

      <Demo>
        <div class="relative max-w-screen-md w-full aspect-square">
          <LiveDrawing />
        </div>
      </Demo>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Place &lt;input> elements inside of &lt;live-form> to create shared form elements.
        Both &lt;live-form&gt; and each &lt;input> must have a unique name="" attribute for this to work.
        Updates are propagated on 'input' events.
      </Paragraph>

      <Code lang="astro" code={`
        ---
        import LiveForm from 'astro-collab/LiveForm.astro'
---
<LiveForm name="myform">
  <input name="myinput" />
</LiveForm>
      `}/>

      or

      <Code lang="astro" code={`
        ---
        import 'astro-collab/live-form'
---
<live-form name="myform" client:load>
  <input name="myinput" />
</live-form>
      `} />

      <WrapAllNote></WrapAllNote>

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
