---
import LiveblocksRoom from 'astro-collab/LiveblocksRoom.astro'
import LiveAvatars from 'astro-collab/LiveAvatars.astro'
import RandomUserInfo from 'astro-collab/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import TitleSmall from '../components/TitleSmall.astro'
import WrapAllNote from '../components/WrapAllNote.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId = 'astro-collaborative-starter-live-avatars'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Live avatar stack">
        See users currently online with &lt;LiveAvatars&gt;
      </Title>

      <Demo>
        <LiveAvatars></LiveAvatars>
      </Demo>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Add &lt;LiveAvatars&gt;. If the user has no picture, a placeholder made from the user's color and name will be displayed.
        Change size="" and show="" attributes for more options.
      </Paragraph>

      <Code lang="astro" code={`
---
import LiveAvatars from 'astro-collab/LiveAvatars.astro'
---
<!-- Basic -->
<LiveAvatars></LiveAvatars>

<!-- Change avatar size (pixels) -->
<LiveAvatars size="32"></LiveAvatars>

<!-- Only show your avatar -->
<LiveAvatars show="self"></LiveAvatars>

<!-- Only show other people's avatars -->
<LiveAvatars show="others"></LiveAvatars>
      `} />

      or

      <Code lang="astro" code={`
---
import 'astro-collab/live-avatars'
---
<!-- Basic -->
<live-avatars client:load></live-avatars>

<!-- Change avatar size (pixels) -->
<live-avatars size="32" client:load></live-avatars>

<!-- Only show your avatar -->
<live-avatars show="self" client:load></live-avatars>

<!-- Only show other people's avatars -->
<live-avatars show="others" client:load></live-avatars>
       `} />

      <TitleSmall>
        Customise
      </TitleSmall>

      <Paragraph>
        Customise with CSS parts:
      </Paragraph>

      <Code lang="astro" code={`
<style is:global>
  live-avatars::part(avatar) {
    padding: 12px;
  }

  live-avatars::part(avatar_picture_wrapper) {
    border: 2px solid black;
  }
</style>
      `} />

      <Paragraph>
        All CSS parts:
      </Paragraph>

      <Code code={`
user,
avatars,
avatar,
avatar_picture_wrapper,
avatar_picture,
avatar_fallback
      `} />

      <WrapAllNote></WrapAllNote>

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
