---
import { LiveblocksRoom, RandomUserInfo } from '/lib'
import '/lib/user-line'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Box from '../components/Box.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import TitleSmall from '../components/TitleSmall.astro'
import WrapAllNote from '../components/WrapAllNote.astro'
import InputNumber from '../components/InputNumber.astro'
import GetPublicKey from '../components/GetPublicKey.astro'
import InputDropdown from '../components/InputDropdown.astro'
import ComponentGrid from '../components/ComponentGrid.astro'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-form'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Quick start">
        Quick start your Astro collaborative app
      </Title>

      <TitleSmall>
        How to use
      </TitleSmall>

      <GetPublicKey />

      <TitleSmall>
        Add LiveblocksRoom
      </TitleSmall>

      <Paragraph>
        To add multiplayer, you need to wrap your app in &lt;LiveblocksRoom&gt;, using your public key.
        We also need to give it a room id, essentially the name of the current room that people will share.
      </Paragraph>

      <Code lang="astro" code={`---
import LiveblocksRoom from '../lib/LiveblocksRoom.astro'

// Liveblocks.io public key from .env file
const key = import&#46;meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY
---

<LiveblocksRoom room-id="my-room" public-key={key}>
  <!-- Add multiplayer components -->
</LiveblocksRoom>`}/>

      <Paragraph>
        There can only be a single &lt;LiveblocksRoom> per page.
      </Paragraph>

      <TitleSmall>
        Setting user properties
      </TitleSmall>

      <Paragraph>
        To set the current user's properties (name, color etc.), use the window.LiveblocksRoom.setUser method.
      </Paragraph>

      <Code lang="astro" code={`<script>
  window.LiveblocksRoom.setUser({
    name: 'Chris',
    color: 'red',
    status: 'Available',
    picture: '/avatars/4.png'
  })
</script>`} />

        <Paragraph>
          These properties will then be used in the multiplayer components, for example as
          usernames, cursor colors, etc.
        </Paragraph>

        <TitleSmall>
          Add a collaborative component
        </TitleSmall>

        <Paragraph>
          If we put everything together, and add a &lt;LiveAvatars> component,
          we have a working example already:
        </Paragraph>

              <Code lang="astro" code={`---
import LiveblocksRoom from '../lib/LiveblocksRoom.astro'
import LiveUsers from '../lib/LiveUsers.astro'

const key = import&#46;meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY
---
<script>
  window.LiveblocksRoom.setUser({
    name: 'Chris',
    color: 'red',
    status: 'Online'
  })
</script>

<LiveblocksRoom roomId="my-room" public-key={key}>
  <LiveUsers />
</LiveblocksRoom>`}/>

        <Paragraph>
          Within &lt;LiveUsers>, everyone will see this for you:
        </Paragraph>


        <Box>
          <user-line
            class="-mb-2"
            size="40"
            name="Chris"
            color="red"
            picture=""
            status="Online"
          ></user-line>
        </Box>

      <TitleSmall>
        Try other components
      </TitleSmall>

      <Paragraph>
        Done, all setup complete! There's a set of other multiplayer components below,
        give them a go, or take a look at the LiveblocksRoom page for more setup options.
      </Paragraph>

      <TitleSmall>
        Components
      </TitleSmall>

      <ComponentGrid />

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
