---
import LiveblocksRoom from 'astro-collab/LiveblocksRoom.astro'
import LiveYoutube from 'astro-collab/LiveYoutube.astro'
import RandomUserInfo from 'astro-collab/RandomUserInfo.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
import PanelLayout from '../layouts/PanelLayout.astro'
import Demo from '../components/Demo.astro'
import Code from '../components/Code.astro'
import Title from '../components/Title.astro'
import Paragraph from '../components/Paragraph.astro'
import InputText from '../components/InputText.astro'
import TitleSmall from '../components/TitleSmall.astro'
import WrapAllNote from '../components/WrapAllNote.astro'
import InputNumber from '../components/InputNumber.astro'
import InputDropdown from '../components/InputDropdown.astro'
import '/lib/live-youtube'

// Get your free public key from https://liveblocks.io
const key = import.meta.env.PUBLIC_LIVEBLOCKS_PUBLIC_KEY

// The name of the current room
const roomId =  'astro-collaborative-starter-live-youtube'
---

<BaseLayout>
  <RandomUserInfo></RandomUserInfo>
  <LiveblocksRoom
    room-id={roomId}
    public-key={key}
  >
    <PanelLayout>
      <Title text="Random user info">
        Populate your demo with placeholder users using &lt;RandomUserInfo&gt;
      </Title>

      <Demo />

      <div class="bg-gray-50 h-40 max-w-screen-sm flex justify-center items-center">
        Every page in this starter kit uses &lt;RandomUserInfo>
      </div>

      <TitleSmall>
        How to use
      </TitleSmall>

      <Paragraph>
        Add &lt;RandomUserInfo&gt;. This will give each connection a random name, color, status, and a chance of having an avatar picture.
      </Paragraph>

      <Code lang="astro" code={`
---
import RandomUserInfo from 'astro-collab/RandomUserInfo.astro'
---
<RandomUserInfo/>
      `}/>

      <WrapAllNote></WrapAllNote>

    </PanelLayout>
  </LiveblocksRoom>
</BaseLayout>
