<a href="/liveblocks-room" class="max-w-screen-md mt-5 block bg-gray-50 transition-all ring-0 ring-rose-400 hover:ring-2 rounded-xl relative aspect-[2/1]">
  <img class="w-full pt-8" src="/header.svg" alt="" />
  <div class="absolute bottom-3 left-4 font-semibold text-lg">LiveblocksRoom</div>
  <div class="absolute top-3 right-4 opacity-50 font-mono">{'<LiveblocksRoom>'}</div>
</a>
