---
import { LiveAvatars } from '/lib'
import HeaderBar from './HeaderBar.astro'
---

<HeaderBar>
  <div slot="left" class="mx-5">
    <slot name="logo"></slot>
  </div>
  <div slot="right" class="flex items-center mx-5">
    <LiveAvatars
      size="40"
    ></LiveAvatars>
  </div>
</HeaderBar>
