---
import { LiveUsers } from '/lib'
---
<div class="p-5">
  <div class="">
    <div class="text-sm font-bold tracking-widest uppercase mb-3.5 text-gray-500">
      You
    </div>
    <LiveUsers
      show="self"
      size="40"
    ></LiveUsers>
  </div>

  <div class="border-t border-gray-200 mt-4 mb-7"></div>

  <div class="">
    <div class="text-sm font-bold tracking-widest uppercase mb-3.5 text-gray-500">
      Users online
    </div>
    <LiveUsers
      show="others"
      size="40"
    ></LiveUsers>
  </div>
</div>

<style>
  live-users::part(user) {
    margin-bottom: 12px;
  }

  live-users::part(name) {
    font-weight: 500;
  }
</style>
