---
import '../lib/live-avatars'
import HeaderBar from './HeaderBar.astro'
---

<HeaderBar>
  <div slot="left" class="mx-5">
    <slot name="logo"></slot>
  </div>
  <div slot="right" class="flex items-center mx-5">
    <live-avatars
      size="40"
      client:visible
    ></live-avatars>
  </div>
</HeaderBar>
