---
import './live-users'
---
<div class="p-5">
  <div class="">
    <div class="text-sm font-bold tracking-widest uppercase mb-3.5 text-gray-500">
      You
    </div>
    <live-users
      show="self"
      size="40"
      client:visible
    ></live-users>
  </div>

  <div class="border-t-2 border-gray-100 mt-4 mb-7" />

  <div class="">
    <div class="text-sm font-bold tracking-widest uppercase mb-3.5 text-gray-500">
      Users online
    </div>
    <live-users
      show="others"
      size="40"
      client:visible
    ></live-users>
  </div>
</div>

<style>
  live-users::part(user) {
    margin-bottom: 12px;
  }

  live-users::part(name) {
    font-weight: 500;
  }
</style>
