---
import TitleSmall from './TitleSmall.astro'
import Paragraph from './Paragraph.astro'
---
<TitleSmall>
  Note
</TitleSmall>

<Paragraph>
  All elements must be wrapped in a <a class="text-red-600 font-semibold" href="/liveblocks-room">LiveblocksRoom</a> component.
</Paragraph>
