---
import Link from '../components/Link.astro'
import UserHeader from '../components/UserHeader.astro'
import UserPanel from '../components/UserPanel.astro'
import LiveCursors from '../lib/LiveCursors.astro'
---
<div class="flex flex-col h-0 min-h-full">
  <div>
    <UserHeader>
      <a href="/" slot="logo" class="block font-semibold text-gray-700 flex items-center">
        <img class="w-6 mr-4 mt-1" src="/logo.svg" alt="Logo" />
        Astro Collaborative Starter
      </a>
    </UserHeader>
  </div>

  <div class="flex flex-grow flex-shrink h-auto relative">
    <aside class="flex-grow-0 flex-shrink-0 bg-gray-50 w-72 pt-3">
      <UserPanel />
    </aside>
    <main class="px-5 flex-grow">
      <slot></slot>
      <div class="w-full py-5 border-t mt-12">
        <Link href="https://twitter.com/ctnicholasdev" newTab>
          @ctnicholasdev
        </Link>
      </div>
    </main>
  </div>
</div>

<LiveCursors
  movement="perfect"
  client:load
></LiveCursors>
