---
import logoPic from '../../public/logo.svg'
import UserHeader from '../components/UserHeader.astro'
import UserPanel from '../components/UserPanel.astro'
import '../lib/live-cursors.ts'
---
<div class="flex flex-col h-0 min-h-full">
  <div>
    <UserHeader>
      <div slot="logo" class="font-semibold text-gray-700 flex items-center">
        <img class="w-6 mr-4 mt-1" src={logoPic} alt="Logo" />
        Astro Collaborative Starter
      </div>
    </UserHeader>
  </div>

  <div class="flex flex-grow flex-shrink h-auto relative">
    <aside class="flex-grow-0 flex-shrink-0 bg-gray-50 w-72 pt-3">
      <UserPanel />
    </aside>
    <main class="px-5 flex-grow pb-12">
      <slot></slot>
    </main>
  </div>
</div>

<live-cursors
  movement="perfect"
  client:load
></live-cursors>
